// COLORS
$color-white: #fff;
$color-black: #000;
$color-blue: rgb(35, 204, 255);

// FONT
$font-primary: 'PT Sans', sans-serif;
$font-secondary: 'PT Serif', serif;

$normal: 400;
$semi-bold: 600;
$bold: 700;
